.menu
{
	width:100%;
	float:right;
	height: 70px;
	background-color: rgba(17,17,17,0.75);
}
.menu ul
{
	list-style:none;

}
.menu ul li
{
	float:left;
	position:relative;
}
.menu ul li a
{
	text-decoration:none;
	line-height:50px;
	display:block;
	padding: 10px 20px;
	margin: 0 1px;
	font-size:20px;
	clear:both;
    color: #fff;
	font-size: 14px;
    margin: 0 15px !important;
}
.menu ul li a:hover
{
	text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
    color: #fff;
}
.lm ul
{
	position:absolute; top:85px; left: -40px;
}
.lq ul li
{
	clear:both;
    width: 230px;
}
.lm ul li
{
	clear:both;
    width: 240px;
}

.gs ul li
{
	clear:both;
    width: 190px;
}

.pubg ul li
{
	clear:both;
    width: 175px;
}


.menu ul ul
{
	position:absolute; top:70px; left: -40px;
}

.menu ul ul li a
{
	padding:10px;
	background-color: rgba(17,17,17,0.75);
	line-height:40px;
}
.menu ul ul
{
	visibility:hidden;
}
.menu ul li:hover > ul
{
    clear: both;
	visibility:visible;
}
.logonew img
{
	float:left;
	width:110px;
	height: 80px;
    clear: both;
}

form {
	position: relative;
	width: 500px;
	max-width: 100%;
}

form button {
	position: absolute;
	background-color: #8d56fd;
	border: 0;
	border-radius: 5px;
	left: 200px;
	color: #fff;
	font-size: 14px;
	padding: 9px 30px;
}

.mainCont
{
	padding:20px;
	background-color: black;
}
.container-image img
{
	left:0px;
    position: relative;
    bottom: 0px;
    right: 0px;
    z-index: -1;
}

.container-card
{
    position: absolute;
    bottom: 350px;
    left: 400px;
}

.content{
    position: relative;
    z-index: 2;
    width: 1280px;
    left: 50%;
    margin-left: -640px;
    min-height: 1240px;
    padding-bottom: 208px;
}

.content .news{
    margin-top: 38px;
    list-style-type: none;
    height: auto;
    transition: all 0.5s 0s ease;
}

.news .news-title
{
    display: flex;
    text-decoration: none;
}

.news .news-title img
{
    width: 265px;
    height: 140px;
    margin-right: 20px;
}

.news .news-item
{
    position: relative;
    min-height: 170px;
    background-color: #b4aaaa;
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 4px;
    transition: all 0.5s 0s ease;
}

.news .news-item:hover
{
    background-color: rgb(235, 206, 206);
    
}

.news .news-info
{
    font-size: 14px;
    font-weight: 100;
    color:#fff;
}

/*          FOOTER                */

.footer 
{
	width: 100%;
	height: 400px;
	clear:both;
	text-align: center;
	background-color: black;
    color: rgba(140,140,140,1);
}